---
const blogTitle = "Blog title";
---

<footer class="border-t border-red-100 w-full">
    <p class="text-center">
        {blogTitle}, &copy; 2024
    </p>
    <div class="mt-2 flex justify-center items-center">

    </div>
</footer>
