---
import '@/styles/globals.css'
import Hero from '../components/widget/Hero.tsx';
import BlogCategory from '@/components/widget/BlogCategory/BlogCategory.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<Hero/>		
		<BlogCategory />		
	</main>
</BaseLayout>


